__pycache__
.idea/*
/peft/src/peft/__pycache__flashinfer/
trained_models/
*.[Jj][Ss][Oo][Nn][Ll]
*.[Jj][Ss][Oo][Nn]
*.[Tt][Xx][Tt]
*.log
*.csv
*.tsv
*.h5        
*.bin
*.ckpt
*.pth
*.safetensors
*.zip
*.wandb
*.hdf5
*.synced
*.snapshot
*.yaml
*.safetensors
*.pt
*.pth
*.bin
*.ckpt
checkpoints/
models/
runs/
datasets/
# media
picture.jpg
